.slider{
	width: 100%;
	height: auto;
	padding: 0;
	position: relative;
}

.slider .right.image{
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;

}

.slider .left.image{
	position: relative;
	z-index: 2;
	margin-right: -5px;
	overflow: hidden;
}

.slider .instruction{
    display: none;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-102%, 0);
	z-index:99;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,.5);
	padding: 8px;
	background: white;
}

.slider .instruction p{
	background: white;
	display: inline;
	padding: 0;
	font-size: 1em;
	text-transform: uppercase;
}

.screen-divider {
    position: absolute;
    left: 50%;
    top: 0px;
    height: 100%;
    width: 24px;
    cursor: ew-resize;
    transform: translate(-50%, 0);
    z-index: 9;
}

.divider-line {
	background: #3faae9;
	width: 2px;
	height: 100%;
    margin: auto;
}

.top-marker {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 24px solid #3faae9;
}

.bottom-marker {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #3faae9;
}

@media (pointer: coarse) { 
    .screen-divider {
        width: 72px;
    }
}