body {
	margin: 0;
}

.slider .instruction {
    left: 25%;
    width: 50%;
    background: white;
    padding: 6px;
}

.slider .instruction p {
    padding: 0;
}

.slider .left {
    background: #00000080;
}

/* .slider .left.image {
    border: 0;
} */

.image {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.image img {
    transition-duration: 0.15s;
} 

.combobox {
    position: absolute;
    top: 3px;
    z-index: 2;
}

#left-combobox {
    left: 3px;
}

#right-combobox {
    right: 3px;
}