body {
	margin: 0;
}

.slider .left {
    background: #00000080;
}

#image-container {
    touch-action: none;
}

.image {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.image img {
    position: absolute;
    z-index: attr(layer);
} 

.image img.with-transition {
    transition-duration: 0.15s;
} 

.combobox {
    position: absolute;
    top: 3px;
    z-index: 10;
    border-radius: 3px;
    padding: 3px 5px;
}

.combobox:focus {
    outline: none;
}

#left-combobox {
    left: 3px;
}

#right-combobox {
    right: 3px;
}



@media (pointer: coarse) { 
    .combobox {
        height: 2em;
        font-size: 3em;
        max-width: 49%;
        text-align-last: center;
    }
}